# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
.next/
out/
.vercel/

# Editor
.vscode/
.idea/
.DS_Store
